---
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/assets/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="refresh" content="0; url=/menu" />
		<title>Cafe Plaza</title>
	</head>
	<body>
	</body>
</html>
